@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
}

.image-area {
  cursor: pointer;
  transition: .5s;
  position: 'relative';
}

.image-area:hover .image-text {
  display: flex;
}